* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: "Orienta", sans-serif;
  min-width: 320px;
  background-color: $body-bg;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
  display: inline-block;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

#app {
  display: flex;
  align-items: center;
  height: 100vh;
}

.page-container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.secondary-heading {
  width: 100%;
  margin-bottom: 20px;
}

.btn-exchange {
  height: 47px;
  background-color: $primary-blue;
  border-radius: 5px;
  border: 1px solid $primary-blue;
  color: $white;
  padding-left: 10px;
  cursor: pointer;
  font-family: "Orienta";
  font-size: 18px;

  &:disabled {
    cursor:not-allowed;
    background-color: $grey;
  }
}

.dblock {
  display: block;
  width: 100%;
}